<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
  <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
  <include resource="org/springframework/boot/logging/logback/file-appender.xml"/>
  <property name="CONSOLE_LOG_PATTERN" value="%clr(%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX}){faint} %clr(%5p){} %clr(${PID:-}){magenta} %clr(--- %esb(){APPLICATION_NAME}%esb{APPLICATION_GROUP}[%15.15t] %X{correlationId}){faint}%clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n%wEx"/>
  <property name="REQUEST_LOG_FILE" value="/var/log/ttrack-service/request.log"/>
	<appender name="REQUEST_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSS} ${PID:-} --- %m%n%wEx</pattern>
			<charset>${FILE_LOG_CHARSET}</charset>
		</encoder>
		<file>${REQUEST_LOG_FILE}</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${REQUEST_LOG_FILE}.%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
			<cleanHistoryOnStart>false</cleanHistoryOnStart>
			<maxFileSize>10MB</maxFileSize>
			<totalSizeCap>0</totalSizeCap>
			<maxHistory>7</maxHistory>
		</rollingPolicy>
	</appender>

  <root level="INFO">
    <appender-ref ref="CONSOLE" />
    <appender-ref ref="FILE"/>
  </root>
  <logger name="com.azure.core" level="INFO"/>
  <logger name="org.raincityvoices.ttrack" level="INFO"/>
  <logger name="org.raincityvoices.ttrack.service.storage.mapper" level="WARN"/>
  <logger name="org.raincityvoices.ttrack.service.audio" level="INFO"/>
  <logger name="org.raincityvoices.ttrack.service.audio.AudioMixingStream" level="INFO"/>
  <logger name="org.raincityvoices.ttrack.service.AudioTrackTask" level="DEBUG"/>
  <logger name="org.raincityvoices.ttrack.service.CreateMixTrackTask" level="DEBUG"/>
  <logger name="org.raincityvoices.ttrack.service.audio.TarsosStreamAdapter" level="INFO"/>
  <logger name="org.tritonus" level="WARN"/>

  <logger name="org.zalando.logbook" level="TRACE">
    <appender-ref ref="REQUEST_LOG"/>
  </logger>
</configuration>